* {
	padding: 0px;
	box-sizing: border-box;
	margin: 0px;	
}

header {
	background-color: blue;
}

p {
	margin: 0px;
}

li {
	list-style-type: none;
}

.head-nav {
    overflow: hidden;
}

.head-nav a {
	float: right;
	display: block;
	color: white;
	padding: 20px;
	text-decoration: none;
}

.head-nav .iconbar {
    display: none;
}

.head-nav-title{
	position: absolute;
	color: white;
	padding: 10px;
	font-size: 20px
}

img {
	width: 100%;
}

.padding {
	padding: 30px 0px;
}

.wimi {
	color: blue;
}

.main-sec2-div {
	padding: 0px;
}

.main-sec2-div img {
	float: left;
	width: 100%;
	height: 485px;
}

.main-sec2-banner {
	position:absolute;
	color: white;
}

.main-sec2-banner h3 {
	padding: 10px 45px;
}

.main-sec2-banner h4 {
	padding: 5px 30px;
}

.main-sec2-banner p {
	padding: 0px 30px;
}

.main-sec2-banner img {
	left: -30px;
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.main-sec3-div {
	border: 1px solid gray;
	padding: 10px;
}

.main-sec3-div a {
	color: black;
}

.main-sec4-form {
	width: 30%;
	padding: 5px;
}

.main-sec4-ta {
	margin-top: 20px;
	padding: 10px;
}

.main-sec4-button {
	background-color: orange; 
	display: block; width:150px; 
	margin: auto; padding: 10px; 
	border: none; 
	color: white;
}

footer {
	background-color: black;
	color: white;
}

footer a {
	color: white;
}

.footer-form {
	width: 70%;
	background-color: black;
	color: white;	
}

.footer-button {
	color: black;
}

.footer-end{
	text-align: center;
}

@media only screen and (max-width: 768px) {
	.main-sec4-form {
		width: 100%;
	}

	header {
    	background-color: white;
	}

	.head-nav a {
		display: none;
		color: black;
	}
	  
	.head-nav a.iconbar {
		float: left;
		display: block;
		color: black;
		font-size: 30px;
	}
	
	.head-nav a.iconsearch {
    	float: right;
    	display: block;
		color: black;
		font-size: 30px;
    }
	  
	.head-nav-title{
		position: absolute;
    	left: 30%;
		color: blue;
		font-size: 25px;
		padding-top: 20px;
	}
	
	.head-nav {
		background-color: white;
		color: blue;
	}
	
	.head-nav.responsive {
		position: relative;
	}

    .head-nav.responsive .bar {
        top: 0;
	}
	 
    .head-nav.responsive .iconsearch {
        position: absolute;
        right: 0;
        top: 0;
    }
	
	.head-nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media only screen and (max-width: 992px) {
	.main-sec2-banner {
		top: 500px;
		left: 50px;
	}

	.main-sec4-form {
		width: 100%;
	}
}

